{
  "presets": ["@babel/typescript", ["@babel/env", { "targets": { "node": "6" } }]],
  "plugins": [["module-resolver", { "root": ["./src"], "alias": { "@": "./src" } }]],
  "sourceMaps": "inline",
  "comments": false,
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
